@media only screen and (min-width: 1024px) and (max-width: 1400px){
    .nav-mobile {
        display: none;
    }
    .details .wrapper {
        padding: 20px 0;
    }
    .details-text p {
        width: 85%;
        padding: 0 0 0 50px;
    }
    .address .info-wrapper {
        width: 85%;
    }
    .burgers li, .crepes li {
        flex: 0 0 33.333333%;
        margin: auto;
    }
    .burgers img, .crepes img {
        width: 90%;
    }
    .burgers span, .crepes span {
        padding: 16px;
    }
    .lunch div {
        display: flex;
        justify-content: space-evenly;
    }
    .lunch img {
        width: 45%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .header-container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .mobile-menu-icons {
        display: block;
    }
    header img {
        width: 120px;
    }
    .nav-options {
        display: none;
    }
    .nav-options.active {
        display: block;
        padding: 100px 0 0 0;
        transition: all 0.5s ease;
    }
    .option {
        list-style: none;
        color: #cf7f57;
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }
    .open-menu, .close-menu {
        font-size: 30px;
        color: #cf7f57;
        margin: 46px auto;
    }
    .intro {
        height: 700px;
    }
    .parallax {
        width: 100%;
        height: 700px;
    }
    .img-wrapper {
        display: flex;
        margin: auto;
    }
    .headline {
        font-size: 90px;
    }
    .details .wrapper {
        width: 85%;
        display: block;
        padding: 20px 0;
    }
    .reverse-wrapper {
        display: flex;
        width: 85%;
        margin: auto;
        flex-direction: column-reverse;
        padding: 20px 0;
    }
    .details-text p {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .address .info-wrapper {
        width: 90%;
    }
    .address .info-wrapper p {
        font-size: 20px;
    }
    .burgers li, .crepes li {
        flex: 0 0 45%;
        margin: auto;
    }
    .burgers img, .crepes img {
        width: 90%;
        margin-top: 30px;
    }
    .burgers span, .crepes span {
        padding: 20px;
    }
    .lunch div {
        display: grid;
    }
    .lunch img {
        width: 80%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .mobile-menu-icons {
        display: block;
    }
    .nav-options {
        display: none;
    }
    .nav-options.active {
        display: block;
        padding-top: 100px;
        transition: all 0.5s ease;
    }
    .option {
        list-style: none;
        color: #cf7f57;
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }
    .open-menu, .close-menu {
        font-size: 30px;
        color: #cf7f57;
        margin: 46px auto;
    }
    .intro {
        height: 500px;
    }
    .parallax {
        width: 100%;
        height: 500px;
    }
    .headline {
        font-size: 60px;
    }
    .img-wrapper {
        display: flex;
        margin: auto;
    }
    .preview {
        width: 250px;
    }
    .details .wrapper {
        width: 85%;
        display: block;
        padding: 20px 0;
    }
    .reverse-wrapper {
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0;
    }
    .details-text p {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .address {
        padding: 50px 0 0 0;
    }
    .address h3 {
        font-size: 50px;
    }
    .address .info-wrapper {
        width: 90%;
        height: auto;
        top: -580px;
        display: block;
    }
    .address .info-wrapper p {
        font-size: 22px;
        text-align: center;
    }
    .tabs {
        display: block;
        text-align: center;
        padding: 0;
    }
    .tab-item {
        width: 70%;
        padding: 20px 10px;
        margin: 10px auto;
    }
    .burgers li, .crepes li {
        flex: 0 0 100%;
        margin: auto;
    }
    .burgers img, .crepes img {
        width: 70%;
    }
    .burgers p, .crepes p {
        font-size: 24px;
    }
    .lunch div {
        display: grid;
    }
    .lunch img {
        width: 80%;
    }
    footer {
        display: block;
    }
    footer .socials {
        margin: 0 auto;
        padding-top: 20px;
    }
}
